.flex_row {
  display: flex;
  flex-direction: row; /*横並び*/
  align-items: center; /**/
  justify-content: space-evenly; /* 上下に余白 */
  flex-wrap: wrap;
}

.flex_row div {
  margin: 5px; /* アイテム間の間隔を調整 */
}

.flex_column {
  display: flex;
  flex-direction: column; /* 縦並び、左揃え */
  justify-content: space-around; /* 上下に余白 */
  align-items: center;
  flex-wrap: wrap;
}

.flex_row button {
  color: bisque;
}
